       <br>
       <br>
       <br>       
       <header class="dashboard-header">     
         <div>          
          <h2>Guest Dashboard</h2>
         </div> 
       </header>  

        
    <div class="container">
        <div class="column vh-100">
        <h3>Guest Information</h3>
        <div class="text-dark" >
            <p>Name: {{dashData.first_name}} {{dashData.last_name}}</p>
            <p>email: {{dashData.email}}</p>
        </div>
    
        <h3>Bookings</h3>
        <table class="table">
        <tr>
            <th scope="col">
                Room
            </th>
            <th scope="col">
                Check In Date
            </th>
            
            <th scope="col">
                Check Out Date
            </th>
        <th scope="col">
                Cost of Stay
            </th>

        </tr>
        {{#each dashData.booking_dates as |bookings|}}
        <tr>
            <td>
                {{bookings.room.room_name}}
            </td>
            <td>
                {{format_date bookings.start_date}}
            </td>
            <td>
                {{format_date bookings.end_date}}
            </td>
        </tr>

        <td>
                ${{stay_estimate bookings.start_date bookings.end_date bookings.room.room_price }}
            </td>
        {{/each}}
    </table>
</div>
</div>