<div>
      <img
        src="./images/bg25.jpg"
        class="img js-fullheight"
      />
    </div>
    

    <section class="container" id="rooms">
      <h2 class="section-title primary-border">Check Out Our Rooms</h2>

      <div class="guest-rooms">
       {{#each rooms as |room| }}
        <article class="room">
            <a href="/room-details/{{id}}" class="front-page-link">
            <img src="{{ room_img }}" alt="image of {{room_name}}" class="room-pic"/>

            <div class="room-bio">
               
                    <h3 class="room-name">{{ room_name }}</h3>
                </a>


                <p class="rm-description">

                    {{ room_description }}
                </p>
            </div>
        </article>
         {{/each }}
      </div>
    </section>