<section class="container" id="rooms">
    <h2 class="section-title primary-border">Check Out Our Rooms</h2>
    {{#each rooms as |room| }}
    <div class="guest-rooms">
        <article class="room">
            <img src="{{ room_img }}" alt="image of {{room_name}}" />
            <div class="room-bio">
                <a href="/room-detail/{{id}}">
                    <h3 class="room-name">{{ room_name }}</h3>
                </a>

                <p>
                    {{ room_description }}
                </p>
            </div>
        </article>
    </div>
    {{/each }}
</section>